<h2><%= @task.name %></h2>


<p>
    <%= image_tag @task.photo%>
</p>
<h3>Completado por :</h3>
<% @todos.each do |todo| %>
     
     
        <%= todo.user.email %>
     <br>
   
    
    <% end %>
   
<br>
<%= link_to 'Back', todos_path,class:"btn btn-danger" %>